#contacts{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 1000px;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    display: none;

    div{
        color:$color_white;
        font-size:20px;
        font-family:'open_sansregular', Georgia, arial;

        span{
            padding-left:25px;
        }

        img{
            position: relative;
            top: -2px;
        }
    }

    .fluid-grid{
        background:$color_blue;
        padding:45px 0 30px 0;
    }

    .buttonContainer{
        width: 100%;
        position: relative;
        top: 20px;
        left: 0;
        height: 40px;

        button{
            border:0;
            background:transparent;
            background-image:url(../img/arrow_up_white.png);
            background-repeat:no-repeat;
            width:31px;
            height:18px;
            position: relative;
            margin: auto;
            display: block;
            padding: 0;
            line-height: 0;
            transition: all 1s;
            background-size:100%;

            &:hover{
                background-image:url(../img/arrow_up_golden.png);
            }
        }
    }
}